# Variables de entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/

# Archivos de logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Salida de pruebas y builds
coverage/
dist/
build/